<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.sebmvp.boston-event-radar</string>
  <key>WorkingDirectory</key>
  <string>/Users/YOU/Projects/boston-event-radar</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/YOU/Projects/boston-event-radar/.venv/bin/event-radar</string>
    <string>discover</string>
  </array>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>7</integer>
    <key>Minute</key>
    <integer>30</integer>
    <key>Weekday</key>
    <integer>1</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/Users/YOU/Projects/boston-event-radar/data/launchd.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/YOU/Projects/boston-event-radar/data/launchd.log</string>
</dict>
</plist>
